// Nendoroid-view
.pd-header, h1, h2{
  padding: 10px;
  max-width: fit-content;
  background-color: orangered;
  color: white;
}

strong{
  color: orangered;
}

hr.solid {
  border-top: 3px solid #bbb;
}

.view_nendo-container{
  display: flex;
}

.nendo_details-container{
  margin: 30px;
}

.twitter-container p{
  line-height: 26px;
}

.twitter-container{
  padding: 15px;
  background-color: #eeeeee;
  border-radius: 4px;
  border: 2px solid orangered;
  margin-bottom: 5px;
  width: 600px;
}

.twitter-container:hover{
  background-color: #ffffff;
  box-shadow: 0px 3px 4px 0px rgba(187,187,187,0.71);
  -webkit-box-shadow: 0px 3px 4px 0px rgba(187,187,187,0.71);
  -moz-box-shadow: 0px 3px 4px 0px rgba(187,187,187,0.71);
}

.twitter-header{
  height: 51px;
  margin: 10px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.twitter-account-logo{
  margin-right: 10px;
  width: 51px;
  height: inherit;
  border-radius: 25px;
  border: 2px solid orangered;
}

.twitter-verified-logo{
  margin-left: 5px;
  margin-right: 10px;
  width: 17px;
  height: 17px;
}

.twitter-body{
  display: inline;
}

.account-container{
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}

.user-infomation{
  background-color: white;
  border: 2px solid orangered;
  width: max-content;
  padding: 10px;
}

.main-logo{
  height: 500px;
  width: 500px;
}

.shop-image{
  height: 250px;
  width: 250px;
  right: 0;
  position: absolute;
  margin-top: 100px;
  margin-right: 300px;
}

